body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  height: 60px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 250px;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

nav .nav-right-section a {
  margin-right: 15px;
  color: #000000;
}

nav .nav-right-section .menu-icon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  opacity: .6;
  cursor: pointer;
}

nav .nav-right-section .menu-icon:hover {
  opacity: 1;
}

nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 14px;
}

main {
  margin-top: 138px;
  text-align: center;
}

main .main-logo {
  width: 587px;
  margin: 0 auto;
  margin-bottom: 22px;
}

main .main-input {
  width: 577px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-input-container {
  width: 582px;/* 582 */
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input input {
  width: 502px;
  height: 40px;
  border: none;
  outline: none;
}

main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

main .main-input .search-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
  color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  opacity: .4;
  margin-right: 10px;
}

main .main-input .micro-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

main .main-buttons {
  width: 530px;
  margin: 0 auto;
}

main .main-buttons div {
  display: inline-block;
}

main .main-buttons button {
  height: 36px;
  background-color: #f2f2f2;
  border: 0;
  font-size: 14px;
  color: #5f6368;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 15px;
}

main .main-buttons button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px #000001;
  color: #222;
}

footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 14px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

footer ul {
  margin: 10px;
  list-style: none;
  display: flex;
  padding-left: 0;
}

footer ul li:nth-child(1) {
  margin-left: 6px;
}

footer .footer-right li:nth-child(3) {
  margin-right: 7px;
}

 footer .footer-left {
   justify-self: left;
 }

 footer .footer-right {
   justify-self: right;
 }

 footer ul li a {
   margin: 13.5px;
   color: #5f6368;
 }